In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('data_DGA.csv', index_col = 0)

In [41]:
df = df.iloc[:-1,:]

In [42]:
df

        h2    ch4    c2h6   c2h4     c2h2  act
0.0    117   17.0   1.000    3.0    1.000  1.0
1.0    407   28.0  15.000   21.0    0.001  1.0
2.0    183    6.0   0.001    5.0    0.001  1.0
3.0    166   21.0  38.000    6.0    0.001  1.0
4.0    105   23.0  13.000    4.0    3.000  1.0
...    ...    ...     ...    ...      ...  ...
559.0   56   61.0  75.000   32.0   31.000  2.0
560.0  217  286.0  14.000  458.0  884.000  3.0
561.0  441  207.0  43.000  224.0  261.000  3.0
562.0  127   24.0   0.001   32.0   81.000  3.0
563.0  176  205.9  47.700   75.7   68.700  3.0

[564 rows x 6 columns]

In [43]:
df['h2'] = pd.to_numeric(df['h2'],errors='coerce')
df['ch4'] = pd.to_numeric(df['ch4'],errors='coerce')
df['c2h6'] = pd.to_numeric(df['c2h6'],errors='coerce')
df['c2h4'] = pd.to_numeric(df['c2h4'],errors='coerce')
df['act'] = pd.to_numeric(df['act'],errors='coerce')

In [44]:
df.dtypes

h2      float64
ch4     float64
c2h6    float64
c2h4    float64
c2h2    float64
act     float64
dtype: object

In [45]:
df = df.reset_index(drop=True)

In [47]:
df

        h2    ch4    c2h6   c2h4     c2h2  act
0    117.0   17.0   1.000    3.0    1.000  1.0
1    407.0   28.0  15.000   21.0    0.001  1.0
2    183.0    6.0   0.001    5.0    0.001  1.0
3    166.0   21.0  38.000    6.0    0.001  1.0
4    105.0   23.0  13.000    4.0    3.000  1.0
..     ...    ...     ...    ...      ...  ...
559   56.0   61.0  75.000   32.0   31.000  2.0
560  217.0  286.0  14.000  458.0  884.000  3.0
561  441.0  207.0  43.000  224.0  261.000  3.0
562  127.0   24.0   0.001   32.0   81.000  3.0
563  176.0  205.9  47.700   75.7   68.700  3.0

[564 rows x 6 columns]

In [48]:
df = df.apply(np.floor)
print(df.dtypes)
df = df.astype(int)

h2      float64
ch4     float64
c2h6    float64
c2h4    float64
c2h2    float64
act     float64
dtype: object

In [49]:
print(df.dtypes)

h2      int32
ch4     int32
c2h6    int32
c2h4    int32
c2h2    int32
act     int32
dtype: object

In [71]:
for i in range(0,df.shape[0]):
    a = df.loc[i][:-1]
    a = np.asarray(a)
    c = np.pad(a, (0, 4), 'constant')
    c = c.reshape((3,3))
    d = np.uint8(c)
    pathname = os.path.join(str(df.loc[i][-1])+'/'+str(i)+'.png')
    cv2.imwrite(pathname,d)

In [64]:
import os
import sys
import cv2
import imageio

In [68]:
str(df.loc[i][-1])+'/'+str(i)+'.png'

'3/563.png'

In [72]:
i

563